Options -MultiViews
Options -Indexes
Options +FollowSymlinks

AddDefaultCharset utf-8
AddCharset utf-8 .atom .css .js .json .rss .vtt .xml

RewriteEngine on


# <IfModule mod_rewrite.c>
#   RewriteCond %{HTTPS} !=on
#   RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
#   RewriteRule ^ http://%1%{REQUEST_URI} [R=301,L]
# </IfModule>


RewriteRule ^impression$  /index.php?action=accueil [L]
RewriteRule ^commande/adresse$  /index.php?action=orderAddress [L]
RewriteRule ^commande/resume$  /index.php?action=orderOverview [L]
RewriteRule ^contact$  /index.php?action=contact [L]
RewriteRule ^mentions-legales$  /index.php?action=legals [L]

RewriteRule ^connexion$  /index.php?action=login [L]
RewriteRule ^inscription$  /index.php?action=signup [L]
RewriteRule ^mot-de-passe-oublie$  /index.php?action=forgotPassword [L]
RewriteRule ^reinitialiser-mot-de-passe$  /index.php?action=resetPassword [QSA,L]
RewriteRule ^deconnexion$  /index.php?action=logout [L]
RewriteRule ^email-verification$  /index.php?action=verifyUser [QSA,L]
RewriteRule ^email-confirmation$  /index.php?action=resendConfirmationMail [QSA,L]

RewriteRule ^mon-compte$  /index.php?action=account [L]
RewriteRule ^mon-compte/mes-adresses$  /index.php?action=accountAddresses [L]

ErrorDocument 500 /erreur.php?e=500
ErrorDocument 404 /erreur.php?e=404
ErrorDocument 403 /erreur.php?e=403
ErrorDocument 401 /erreur.php?e=401
