<html lang="fr">
<body>
	<div style="padding:20px; color:#444;">
		<div id="header" style="background:#444; color:#fff; margin:0 0 20px; padding:20px; font-size:1.3em;">
			<a href="{site_url}" style="color:#fff; text-decoration:none;">{site_name}</a>
		</div>
		
		
		
		
		
		<div id="content" style="font-size:16px;">
            <p>Le {contact_date}, {contact_name} a envoyé&nbsp;:</p>
            <p>{contact_message}</p>
            <p>Répondre à {contact_name}&nbsp;: <a href="mailto:{contact_email}">{contact_email}</a>
		</div>
		
		
		
		
		
		<div id="footer" style="background:#888; color:#fff; margin-top:20px; font-size:0.875em;">
			<p><a href="{site_url}" style="color:#fff; text-decoration:none;">{site_name}</a></p>
		</div>
	</div>
</body>
</html>