<br>
<footer>
    <h1>COPIFAC</h1>
    <p class="social">116 et 106 rue de Geôle</p>
    <p class="copyright">02.31.38.98.66</p>
</footer>

</div>

<script src="public/js/jquery-2.0.2.min.js"></script>
<script src="public/js/Paliers_jquery.js"></script>
<script src="public/js/page.js"></script>
<script src="public/js/tab.js"></script>
<script src="public/js/compte_pages.js"></script>

<!-- script pour prévenir les utilisateurs que leur navigateur n'est pas à jour -->
<script>
    var $buoop = { required: { e: -4, f: -3, o: -3, s: -1, c: -3 }, insecure: true, api: 2020.07 };
    function $buo_f() {
        var e = document.createElement("script");
        e.src = "//browser-update.org/update.min.js";
        document.body.appendChild(e);
    };
    try { document.addEventListener("DOMContentLoaded", $buo_f, false) }
    catch (e) { window.attachEvent("onload", $buo_f) }
</script>
</body>

</html>