i.fa-plus-circle{color:#390;}
i.fa-pen{color:#fc0;}
i.fa-trash{color:#c00;}

input, textarea, select{
	width:100%;
}
input[type=submit],
button[type=submit]{
	width:auto;
}
input[type=submit].full-width,
button[type=submit].full-width{
	width:100%;
}

.drag{
	position:relative;
}
.drag #info{
	position:absolute;
	top:-40px;
	right:0;
	background:#e6e866;
	z-index:10;
}
.drag #info p{
	margin:0;
	padding:2px 5px;
}
.drag ul{
	margin:0;
	padding:5px 0;
	list-style:none;
}
.drag li{
	position:relative;
	margin:5px 0;
	padding:5px;
	background:#f8f9fa;
}
.drag li .section{
	display:inline-block;
	width:30%;
}
.drag li .section-medium{
	display:inline-block;
	width:20%;
}
.drag li .section-small{
	display:inline-block;
	width:15%;
}
.drag li .actions{
	float:right;
}
.drag li .handle{
	cursor:ns-resize;
	margin:0 10px 0 0;
}

.picked-color{
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:middle;
	border:1px solid #000;
}

th .order a{
	font-size:.875em;
	text-decoration:none;
}
th .order a.active{
	color:#0057b3;
}
