* {
    box-sizing: border-box;
}

body {
    background: #555;
    font-size: 100%;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.875em;
}

p {
    font-size: 1em;
}

.titre1 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0px;
}

header .bandeau {
    background: #555;
    text-align: center;
}


.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 30px;
    overflow-wrap: break-word;
}

fieldset {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid blue;
    border-radius: 10px;
}
legend {
	display: inline;
	width: auto;
	padding: 0 10px;
}
.legend{
	font-weight: bold;
	font-size: 1.125em;
}
label{cursor: pointer;}

.smaller {font-size: .875em;}
.mt-20 {margin-top: 20px;}
.custom-file-input:lang(fr)~.custom-file-label::after{content:"Parcourir"}



#uploadPDF {
    cursor: pointer;
}






/* ------ FOOTER ------ */
footer {
    margin: 50px 0 0;
    padding: 20px;
    background-color: rgb(8, 113, 145);
    color: white;
    text-align: center;
}

footer>h1 {
    text-decoration: underline;
    font-size: 1.5em;
    margin: 0em;
}

footer>p {
    margin: 0.5em;
}

#tableToPrint,
#tableHisto {
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}

#tableToPrint td,
#tableToPrint th,
#tableHisto td,
#tableHisto th {
    border: 1px solid rgb(186, 186, 186);
    padding: 8px;
}

#tableToPrint tr:nth-child(even),
#tableHisto tr:nth-child(even) {
    background-color: #f5f5f5;
}

#tableToPrint th,
#tableHisto th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #555555;
    color: white;
}

#tableToPrint td.center,
#tableHisto td.center {
    text-align: center;
}

#tableToPrint tr:hover,
#tableHisto tr:hover {
    background-color: #ddd;
}

.responsiveTable {
    overflow-x: auto;
}

/* Style the tab */
.tab {
    overflow: hidden;
    /* border: 1px solid #ccc; */
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    ;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: rgb(235, 235, 235);
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    /* padding: 6px 12px; */
    border: 1px solid #ccc;
    border-top: none;
    animation: fadeEffect 1s;
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}